.login-chose-module-container {
    padding: 0 0.3rem;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1024;
    background-color: #f0f0f0;
}

.login-chose-avatar-container {
    width: 2.2rem;
    margin: 0.4rem auto 0.2rem;
}

.login-chose-avatar {
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    overflow: hidden;
}

.login-chose-avatar-container img {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.login-chose-btn {
    line-height: 0.8rem;
    border-radius: 0.1rem;
    width: 100%;
}

.login-chose-btn-primary {
    color: #ffffff;
    background-color: #003A63;
}

.login-chose-btn-default {
    border: 1px solid #e1e1e1;
    background: #fff;
    color: #838383;
}

.login-chose-input-container {
    margin-top: 1rem;
}
.login-chose-input-container1{
    margin-top: 0.8rem;
}

.login-chose-title {
    color: #b4b4b4;
}

.login-chose-title1 {
    color: #636363;
    margin-top: 0.1rem;
}

.login-chose-nickname {
    color: #2f2f2f;
}
