/*地图上显示定位css---start*/
.show-one-point-map{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
}
.show-one-point-map-title{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #000;
	position: relative;
	border-bottom: 1px solid #ededed;
	background-color: #fff;
}
.show-one-point-map-title-name{
	text-align: center;
    color: #333;
}
.show-one-point-map-back{
	width: 40px;
	height: 40px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAhCAMAAADj/gtmAAAAXVBMVEUAAACPj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4/ShKOpAAAAHnRSTlMA+/ICzBILBtT27OfYwrupnmhYSTsyJxm2sWBQQSxZCgntAAAAc0lEQVQoz4XSSQ6DMBBEUXAmJxAS5rnuf0zYFl8CL58suV1dyeF0eXGUTNFlzZT3Ju1HEXJ/mDThWpag79OkfotSuMyphpdJlWqE/FymXW4mpfS/kiQomuAWjC9yrrPp+UcmwbyYKrM/M+6R22Yn2Bz2awMrKgnwgdZu+wAAAABJRU5ErkJggg==);
	background-position: 10px center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	background-size: 12px;
}
.show-one-point-map-cont{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	bottom: 0;
}

/*地图上显示定位css---end*/