.right-left-cont {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1024;
    background-color: #f0f0f0;
}
.right-left-cont-title {
    line-height: 40px;
    font-size: 16px;
    color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
}
.right-left-cont-back {
    width: 40px;
    height: 40px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAhCAMAAADj/gtmAAAAXVBMVEUAAACPj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4/ShKOpAAAAHnRSTlMA+/ICzBILBtT27OfYwrupnmhYSTsyJxm2sWBQQSxZCgntAAAAc0lEQVQoz4XSSQ6DMBBEUXAmJxAS5rnuf0zYFl8CL58suV1dyeF0eXGUTNFlzZT3Ju1HEXJ/mDThWpag79OkfotSuMyphpdJlWqE/FymXW4mpfS/kiQomuAWjC9yrrPp+UcmwbyYKrM/M+6R22Yn2Bz2awMrKgnwgdZu+wAAAABJRU5ErkJggg==);
    background-position: 10px center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 12px;
}
.right-left-cont-title-name {
    text-align: center;
    color: #333;
}
.showContent-cont{
    padding: 10px;
    font-size: 12px;
}